|* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #6C63FF;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(img/hand.jpg);
  background-size: cover;
  background-position: auto;
}

.signup {
  width: 300px;
  box-shadow: 0 0 3px 0;
  background: white;
  padding: 20px;
  margin: 5% auto 0;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.input-box {
  width: 100%;
  margin: 10px -10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #999;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  background-color: #6C63FF;
  cursor: pointer;
}

.facebook {
  background-color: rgba(50, 50, 133, 0.808);
}

.signup p a {
  color: #6C63FF;
}